@media (max-width: 600px) {
    .user-input {
        width: 300px;
    }

    .create a {
        color: $teal;
    }

    .create div {
        color: $teal;
    }

    .todo-app {
        width: 450px;
    }

    .todo-input {
        width: 300px;
    }

    .todo-row {
        width: 400px;
    }

    .icon-bar {
        font-size: 23px;
      
    }

    .plan h1 {
        font-size: 16px;
    }

}